/*
 *  ............(¯''•.
 *  ..............(¯'•(¯'•............_/)/)
 *  ...............(¯'•.(¯'•.......((.....((
 *  ................(¯''•(¯'•...((.)..(. ‘ /)
 *  .................(¯''•.(¯'((.)....|\_/
 *  .....,,,~”¯¯¯''¯(_¸´(_.)......|
 *  ...(((./...........................)__
 *  ..((((.\......),,...........(...../__'\
 *  ..))))..\ . .//...¯¯¯¯¯¯¯' \.../... / /
 *  .(((...../ .// .............. | ./...../
 *  .))).....| ||.................| |...........♥♥♥
 *  ((........) \.................) \...........\|/
 *  .^^^^.""'"'.^^^^^^^..""".^^^^.""""
 *  ( ͡° ͜ʖ ͡°( ಠ ͜ʖ ಠ ) ͡° ͜ʖ ͡°) ( ͡° ͜ʖ ͡°( ಠ ͜ʖ ಠ ) ͡° ͜ʖ ͡°) ( ͡° ͜ʖ ͡°( ಠ ͜ʖ ಠ ) ͡° ͜ʖ ͡°)
 *  ≧◔◡◔≦ ≧◔◡◔≦ ≧◔◡◔≦ ≧◔◡◔≦ ≧◔◡◔≦ ≧◔◡◔≦ ≧◔◡◔≦ ≧◔◡◔≦
 *  
 *  Copyright © 2009-2025 Lê Duy Khoa. All rights reserved.
 *  Mail: leduykhoa060690@gmail.com
 *  Skype: leduykhoa060690
 *  Mobile: +84973421508
 *  Website: http://web-fast.com
 *  Telegram: https://t.me/leduykhoa
 *  GitHub: https://github.com/leduykhoa
 *  Date: 2025/03/24
 *  Time: 09:20:38
 */

h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

p {
    margin: 8px 0;
}

body {
    font-family: Lato, Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #2C2A29;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #fff;
}

b {
    font-size: 20px;
    line-height: 30px;
}

.text-center {
    text-align: center;
}

.w-51 {
    width: 51%;
    margin: 0 auto;
}

.section {
    padding: 41px 32px;
    margin: auto;
}

.section_title {
    font-family: Lora, Lato, Arial, sans-serif;
    font-size: 40px;
    line-height: 54px;
    margin-bottom: 48px;
    font-weight: 400;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: center;
}

.grid-row-reverse {
    flex-direction: row-reverse;
}

.grid_item {
    padding: 0;
    flex: 1;
    margin-bottom: 4px;
}

.grid_item-bg {
    background: #F4F0EA;
}

.grid_item-radius {
    border-radius: 2em;
}

.grid_item-text {
    display: flex;
}

.grid_content {
    padding: 49px 40px;
    align-self: flex-end;
}

.grid-space {
    margin: 41px 0;
}

.grid_item>img {
    width: 100%;
}

.item_title {
    font-family: Lora, Lato, Arial, sans-serif;
    font-size: 64px;
    font-weight: 400;
    line-height: 74px;
    color: #1F1F1F;
    margin-bottom: 10px;
}

.w-51 .grid {
    gap: 32px;
}

.block_text_first {
    padding-top: 30px;
}

.block_text_first p {
    margin-bottom: 0;
}

.block_text_first p+p {
    margin-top: -15px;
}

@media only screen and (max-width: 375px) {
    body {
        font-size: 14px;
    }

    p {
        margin: 3px 0;
    }

    b {
        font-size: 18px;
    }

    .w-51 {
        width: 100%;
    }

    .w-51 .grid {
        gap: 2px;
    }

    .section {
        padding: 10px 8px;
    }

    .section_title {
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 26px;
    }

    .grid-row-reverse {
        flex-direction: inherit;
    }

    .grid {
        gap: 2px;
    }

    .grid-mobile-one {
        flex-direction: column;
    }

    .grid_content {
        padding: 20px 18px;
    }

    .grid_item-mobile {
        flex: none;
    }

    .grid_item-radius {
        border-radius: 1em;
    }

    .item_title {
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 14px;
        margin-top: 14px;
    }

    .block_text_first {
        padding-top: 5px;
    }

    .block_text_first p+p {
        margin-top: 12px;
        margin-bottom: 38px;
    }
}